@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
body {
  display: table;
}

.main-container {
  display: table-cell;
  vertical-align: middle;
}

.form-module {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0.5rem 1.25rem 0.5rem;
  border-radius: 0.25rem;
}

.form-module header {
  text-align: center;
  font-size: 1.75rem;
  padding: 0.25rem 0.5rem;
  color: #000000;
}

.form-module .form-body {
  padding: 0.5rem;
}

.form-module .form-body .fill-up {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-module .form-body .fill-up input {
  width: 15rem;
  margin: 0.375rem;
  padding: 0.5rem;
  border: 0.0125rem solid #000;
  border-radius: 0.25rem;
}

.form-module .form-body .fill-up input:focus {
  outline: none;
}

.form-module .form-body .fill-up input::-webkit-input-placeholder {
  font-family: Quicksand, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.form-module .form-body button {
  margin: 0 auto;
  display: block;
  width: 15rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #000000B3;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.form-module .form-body button:focus {
  outline: none;
}

.form-module footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.125rem 0.75rem;
}